---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import FixedNavbar from '../components/FixedNavbar.astro';
import Experience from "../components/Experience.astro"

const skills = ["Flutter", "Dart", "Firebase", "Supabase", "Java", "Android Studio", "C++", "Python"];
const projects = [
  {
    title: "Todo List App",
    body: "Administrador de tareas multiplataforma, persistencia utilizando JSON local.",
    tags: ["Flutter", "Dart", "Android"],
  },
  {
    title: "QR Stock ",
    body: "Aplicación Multiplataforma de gestoría de inventarios con funciones de escaneo de codigos QR a través de la cámara del móvil.",
    tags: ["Flutter", "Dart","API", "Firebase"],
  },
  {
    title: "Simulador Mazmorra",
    body: "Simulador de combates por turno entre una grupo de personajes y monstruos de mazmorras",
    tags: ["Java"],
  },
  {
    title: "FoodZone",
    body: "Aplicación web de una tienda de platos preparados.",
    tags: ["Flask", "Python", "JavaScript", "HTML", "CSS"],
  },
  {
    title: "EcoServices",
    body: "Aplicación Multiplataforma para la gestión de una empresa de plagas(Gestión de trabajos, Empleados, Materiales, Facturas automáticas).",
    tags: ["Flutter", "Dart", "Supabase"],
  },
];
---

<Layout title="Manuel Guerrero — Dev">
  <FixedNavbar sections={[
    { title: 'Home', id: 'home' },
    { title: 'Sobre mí', id: 'about' },
    { title: 'Experiencia', id: 'experience' },
    { title: 'Proyectos', id: 'projects' }
  ]} />

  <header id="home">
    <img
      src="./me.jpg" 
      alt="Manuel"
      width="130"
      height="150"
      style="border-radius:50%;object-fit:cover;"
    />
    <h1>Manuel Guerrero Sedeño</h1>
    <p>Desarrollador Multiplataforma • Ceuta, España</p>
    <section id="skills" style="margin-top: 0.25rem;">
      <div class="skill-row">
        {skills.map((s) => <span class="skill-chip">{s}</span>)}
      </div>
    </section>
  </header>

  <section id="about">
    <h2>Sobre mí</h2>
    <p>
      Soy un programador multiplataforma de 24 años, apasionado por crear aplicaciones eficientes y centradas en el usuario.
      He desarrollado y publicado aplicaciones móviles y de escritorio, utilizando tecnologías como Flutter, Firebase y Supabase.
      Soy autodidacta, colaborativo y siempre busco nuevos desafíos que me permitan seguir creciendo y crear soluciones digitales con impacto.
    </p>
  </section>
  <Experience />
  <section id="projects">
    <h2>Proyectos</h2>
    <div class="grid">
      {
        projects.map((p) => (
          <Card title={p.title} body={p.body} tags={p.tags} />
        ))
      }
    </div>
  </section>

  <footer id="contact">
    <a href="https://github.com/Drooliito " target="_blank" rel="noopener">GitHub</a> •
    <a href="https://www.linkedin.com/in/manuel-guerrero-sede%C3%B1o-4769672b8/ " target="_blank" rel="noopener">LinkedIn</a> •
    <a href="https://linkedin.com/in/YOUR_LINKEDIN " target="_blank" rel="noopener">CV</a>
  </footer>
</Layout>