---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "2025",
    title: "Proyecto EcoServices",
    company: "Ecoservicios",
    description:
      "Aplicación Flutter para la gestión de empresas de control de plagas, incluyendo módulos de empleados, materiales y facturación automática.",
  },
  {
    date: "2024",
    title: "Proyecto QRStock",
    company: "Aplicación Multiplataforma",
    description:
      "Diseño y desarrollo de una aplicación multiplataforma de gestión de almacenes, con autenticación, mapeado, cambios en tiempo real y escaneo de códigos.",
    link: "https://github.com/Drooliito/QRStock",
  },
];
---

<section id="experience" class="mt-20">
  <h2 class="text-3xl font-bold text-center text-yellow-400 mb-10">
    Experiencia
  </h2>

  <ol class="timeline">
    {
      EXPERIENCE.map((experience) => (
        <li>
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>
</section>
